<img src="{{url_for('static', filename='images/homebanner.png') }}" class="banner" alt="Histacruise Banner" style="display: block; margin-left: auto; margin-right: auto;" >

{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 style="text-align: center;">WELCOME TO HISTACRUISE</h1>
    <h2 style="text-align: center;">HOMEPAGE</h2>
    <p style="text-align: center;">Your ultimate cruise statistic tracker!  
    With Histacruise, you can easily insert and track your cruising data.  
    Keep track of your cruise history and take a view into your adventures at sea!
    </p>
{% endblock %}